body {
  background-color: #e5e5e5;
}
.wrapper {
  position: relative;
  width: 320px;
  height: 600px;
  background: #faf8ff;
  margin: auto;
}
.container {
  position: absolute;
  width: 320px;
  height: 440.8px;
  left: 1px;
  top: 0px;

  background: #faf8ff;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 0px 0px 35px 35px;
}
.logo {
  position: absolute;
  width: 93.94px;
  height: 97.6px;
  left: 113px;
  top: 93px;

  background: linear-gradient(0deg, #ffffff, #ffffff);
  border-radius: 15px;
}
img {
  position: absolute;
  width: 93.94px;
  height: 97.6px;
  left: 113px;
  top: 93px;
}
.title-text {
  position: absolute;
  width: 128px;
  height: 22px;
  top: 221px;
}
.title-1 {
  position: absolute;
  width: 55px;
  height: 16.67px;
  left: 95px;
  top: 2px;
  margin-right: 0px;

  font-family: "Black Han Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;

  color: #1d80c9;
}
.title-2 {
  position: absolute;
  width: 66px;
  height: 22px;
  left: 157px;
  top: 0px;

  font-family: Black Han Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;

  color: #59bdf4;
}
.motto {
  position: absolute;
  width: 272px;
  height: 66px;
  left: 34px;
  top: 280px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.035em;

  color: #1d80c9;
}
h1 {
  margin-top: 20px;
}
.signin {
  position: absolute;
  width: 186.4px;
  height: 35.2px;
  left: 67px;
  top: 476px;
  background: #1d80c9;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  border: 0px;

  /* identical to box height */
  letter-spacing: 0.035em;
  color: #ffffff;
}
.signup {
  position: absolute;
  width: 186.4px;
  height: 35.76px;
  left: 67px;
  top: 530px;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  border: 0px;

  /* identical to box height */
  letter-spacing: 0.035em;
  color: #1d80c9;
}
